@font-face {
    font-family: 'GodoRounded';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/nhn/GodoRoundedLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/nhn/GodoRoundedLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/nhn/GodoRoundedLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/nhn/GodoRoundedLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/nhn/GodoRoundedLight.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GodoRounded';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/nhn/GodoRoundedRegular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/nhn/GodoRoundedRegular.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/nhn/GodoRoundedRegular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/nhn/GodoRoundedRegular.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/nhn/GodoRoundedRegular.ttf') format("truetype");
    font-display: swap;
} 